<!DOCTYPE html>
<html>
<head>
 
 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reviews Online</title>
    <link rel="stylesheet" type="text/css" href="~/Resources/Libraries/slick-1.6.0/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/Resources/Libraries/slick-1.6.0/slick/slick-theme.css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="~/Resources/Libraries/slick-1.6.0/slick/slick.min.js"></script>
    <script src="~/Resources/Libraries/slick-1.6.0/slick/slick.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        .slider {
            width: 50%;
            margin: 100px auto;
        }

        .slick-slide {
            margin: 0px 20px;
        }

            .slick-slide img {
                width: 100%;
            }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }
    </style>
</head>
<body>
    
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Resources/Libraries/slick-1.6.0/slick/slick.js"></script>


   
    <script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
      
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".center").slick({
       
          infinite: true,
          speed: 300,
          slidesToShow: 4,
          slidesToScroll: 1,
          autplay: true
      });
      $(".variable").slick({
        dots: true,
        infinite: true,
        variableWidth: true
      });
    });
    </script>



    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("GoodMovies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                   
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  
                    <li>
                        @if (Session["username"] != null)
                        {

                              <li style="font-weight:bold;">@Html.ActionLink( "Hi "+ @Session["username"].ToString(), "Perfil", "Perfil", new { Id = Session["UserID"] }, null)</li>
                            <li style="font-weight:bold;">@Html.ActionLink("Logout", "logout", "Login")</li>
                            
                        }
                        @if (Session["username"] == null)
                        {

                              <li>@Html.ActionLink("Login", "UserL", "UserL")</li>
                            <li>@Html.ActionLink("Register", "Register", "Login")</li>
                        }
                    </li>





                </ul>
            </div>
        </div>
    </div>
    <div class="">
        @RenderBody()
       
    </div>
  

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    
</body>
</html>
