@model flix.Models.HomeViewModel

@{
    ViewBag.Title = "Index";

}



<body class="" style="background-color:#2e313f;">
    <div class="parallax">
        <div>
            <h1 style="color:white;text-align:center;padding-top:120px;">LOS MEJORES REVIEWS ONLINE</h1>
        </div>

    </div>


    <div class="row" style="margin-top: 0px;  height:100px; background-color:#b73333;padding-right: 15px;padding-left: 15px;margin-right: auto;
    margin-left: auto;">

        <div class="col-sm-4" style="margin-top:30px;">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search!</button>
                </span>
                @Html.TextBox("SearchString", null, new { @class = "form-control" })
            </div>
        </div>

        <div class="col-sm-4" style="margin-top:30px;">


            @Html.DropDownListFor(c => c.Genre.Name,new SelectList(Model.LGenres,"Id","Name") , "Selecciona", new { @class = "form-control" })

       

        </div>
        <div class="col-sm-4" style="margin-top:30px;">

            @Html.DropDownListFor(c => c.Actor.Name, new SelectList(Model.LActors,"Id","Name"), "Selecciona Actor", new { @class = "form-control" })
        </div>
    </div>




    
    <div class="body-content" style="background-color:#2e313f;padding-top: 20px;margin-left: 20px;margin-right: 20px;">

        <div class="row">
            <div class="col-sm-9">
                <div class="panel panel-default" style="background-color:#b73333;">
                    <div class="panel-body">
                        <h2 style="color:white;font-size:35px;text-align:center;" class="titles">Reviews más recientes</h2>
                    </div>
                </div>



                <div class="panel panel-default" style="background-color:white;">
                    <div class="panel-body">

                        <div style="height:350px; width:100%;">
                            <section class="center slider" style="width: 88%;">
                                @*Aqui va el poster de reviews recientes*@
                                @foreach (var poster in Model.LGetLastReviews)
                                {
                                    <div>
                                        <a><img class="hvr-shrink" style="width: 200px; height: 300px;" src=@poster.Path/></a>
                                        <label>@poster.Id</label>
                                        <label>@poster.Title</label>
                                        <label>@poster.Date</label>
                                       
                                        

                                    </div>
                                }

                            </section>

                        </div>

                    </div>
                </div>





                <div class="panel panel-default" style="background-color:#b73333;">
                    <div class="panel-body">
                        <h2 style="color:white;font-size:35px;text-align:center;" class="titles">Más populares</h2>
                    </div>
                </div>



                <div class="panel panel-default" style="background-color:white;">
                    <div class="panel-body">

                        <div style="height:350px; width:100%;">
                            <section class="center slider" style="width:88%;">
                               @foreach (var popular in Model.LMostPopularMovies)
                               {
                                   <div>
                                       <a><img class="hvr-shrink" style="width:200px;height:300px;" src="@popular.Path" /></a>
                                       <label>@popular.Title</label>
                                       <label>@popular.Rank</label>
                                   </div>
                               }
                            </section>

                        </div>

                    </div>
                </div>
            </div>


            <div class="col-sm-3" style="height:1000px;">

                <div class="panel panel-default" style="background-color:#b73333;margin-top: 9px;margin-bottom: 39px;">
                    <div class="panel-body">
                        <h2 style="color:white;font-size:20px;text-align:center;" class="titles">Peliculas con mas reviews</h2>
                    </div>
                </div>


                <div class="panel panel-default" style="background-color:#b73333;">
                    <div class="panel-body">
                      
                        @foreach (var movie in Model.LMovie)
                        {
                            <div class="sidepanels"><p style="margin-left:15px;">@movie.Title</p></div>
                        }

                    </div>
                </div>
                <div class="panel panel-default" style="background-color:#b73333;margin-top: 37px;margin-bottom: 39px;">
                    <div class="panel-body">
                        <h2 style="color:white;font-size:20px;text-align:center;" class="titles">Peliculas con mas reviews</h2>
                    </div>
                </div>


                <div class="panel panel-default" style="background-color:#b73333;">
                    <div class="panel-body">
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>
                        <div class="sidepanels"><p style="margin-left:15px;">HOLA</p></div>


                    </div>
                </div>
            </div>

       

       </div>
    </div>




</body>