@using System.Drawing
@model flix.Models.HomeViewModel

@{
    ViewBag.Title = "Index";

}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Resources/Libraries/slick-1.6.0/slick/slick.min.js"></script>
<script src="~/Resources/Libraries/slick-1.6.0/slick/slick.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#Search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Home/Home",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function(data) {
                        response($.map(data,
                            function(item) {
                                return { label: item.ID, value: item.Title };
                            }));

                    }
                });
            },
            messages: {
                noResults: "Data Not Found", results: ""
            }
        });
    })
</script> 

 


<body class="" style="background-color:#2e313f;">
    <div class="parallax">
        <div>
            <h1 style="color:white;text-align:center;padding-top:120px;">LOS MEJORES REVIEWS ONLINE</h1>
        </div>

    </div>


    <div class="row" style="margin-top: 0px;  height:100px; background-color:#8b3337;padding-right: 15px;padding-left: 15px;margin-right: auto;
    margin-left: auto;">

        <form class="search_bar larger">
            <div class="search_dropdown">
                @Html.DropDownList("Opciones", new List<SelectListItem>
            {
                new SelectListItem {Text="Pelicula", Value = "1"},
                new SelectListItem {Text = "Genero", Value = "2"}
            }, FormMethod.Post)
            </div>
        
            <button type="submit" value="Search">Search</button>
            <div class="form-horizontal">

                <hr/>

                <div class="form-group">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Movie.Title, new {htmlAttributes = new {Id = "Search", @class = "form-control"}})

                        </div>
                    }
                </div>
                <button type="submit" value="Search">Search</button>
            </div>
        </form>
    </div>
  



    
    <div class="body-content" style="background-color:#2e313f;padding-top: 20px;margin-left: 20px;margin-right: 20px;">

        <div class="row">
            <div class="col-sm-9">
                <div class="panel panel-default" style="background-color:#8b3337;">
                    <div class="panel-body">
                        <h2 style="color:white;font-size:35px;text-align:center;" class="titles">Reviews más recientes</h2>
                    </div>
                </div>


              
                
                <div class="panel panel-default" style="background-color:white;">
                    <div class="panel-body">

                        <div style="height:400px; width:100%;">
                            <section class="center slider" style="width: 88%;">
                                @*Aqui va el poster de reviews recientes*@
                                @foreach (var poster in Model.LGetLastReviews)
                                {
                                    <div>
                                    
                                        <a href="@Url.Action("Review", "Review", new { id = poster.Id })" >
                                            <img class="hvr-shrink" style="width: 200px; height: 300px;" src="@Href("~/Content/" + @poster.Path)" alt="Image">
                                        </a>
                                        <div class="subtitulo">
                                            @poster.Title
                                            @poster.Date
                                        </div>
                                    </div>
                                    }

                            </section>

                        </div>

                    </div>
                </div>
             
                <div class="panel panel-default" style="background-color:#8b3337;">
                    <div class="panel-body">
                        <h2 style="color:white;font-size:35px;text-align:center;" class="titles">Más populares</h2>
                    </div>
                </div>


              
                <div class="panel panel-default" style="background-color:white;">
                    <div class="panel-body">

                        <div style="height:400px; width:100%;">
                            <section class="center slider" style="width:88%;">
                                
                               @foreach (var popular in Model.LMostPopularMovies)
                               {
                                  
                                   <div>
                                     
                                       
                                       <a href="@Url.Action("Review","Review", new {id = popular.Id})" >
                                           <img class="hvr-shrink" style="width: 200px; height: 300px;" src="@Href("~/Content/" + @popular.Path)" alt="Image">
                                       </a>

                                       <div class="subtitulo">
                                           @popular.Title
                                           @popular.Rank


                                       </div>
                                   </div>
                               }
                                    
                            </section>

                        </div>

                    </div>
                </div>
            </div>


            <div class="col-sm-3" style="height:1000px;">

                <div class="panel panel-default" style="background-color:#8b3337;margin-top: 9px;margin-bottom: 39px;">
                    <div class="panel-body">
                        <h2 style="color:white;font-size:20px;text-align:center;" class="titles">Peliculas con mas reviews</h2>
                    </div>
                </div>


                <div class="panel panel-default" style="background-color:#8b3337;">
                    <div class="panel-body">
                      
                        @foreach (var movie in Model.LMovie)
                        {

                                   <a href="@Url.Action("Review","Review", new {id=movie.Id})">
                                   <div class="sidepanels"><p style="margin-left:15px;">@movie.Title</p></div>
                                   </a>
                        }

                    </div>
                </div>
                <div class="panel panel-default" style="background-color:#8b3337;margin-top: 37px;margin-bottom: 39px;">
                    <div class="panel-body">
                        <h2 style="color:white;font-size:20px;text-align:center;" class="titles">Usuarios mas Activos</h2>
                    </div>
                </div>


                <div class="panel panel-default" style="background-color:#8b3337;">
                    <div class="panel-body">
                        @foreach (var user in Model.LGetTopUserReviewerses)
                        {

                                <a href="@Url.Action("Perfil","Perfil", new {id=user.Id})">
                                <div class="sidepanels"><p style="margin-left:15px;">@user.Username</p></div>
                                </a>

                                }
</div>
                </div>
            </div>

      

       </div>
    </div>


    <script>
        /* Search bar */

        var resizeElements;

        $(document).ready(function () {

            // Set up common variables
            // --------------------------------------------------

            var bar = ".search_bar";
            var input = bar + " input[type='text']";
            var button = bar + " button[type='submit']";
            var dropdown = bar + " .search_dropdown";
            var dropdownLabel = dropdown + " > span";
            var dropdownList = dropdown + " ul";
            var dropdownListItems = dropdownList + " li";


            // Set up common functions
            // --------------------------------------------------

            resizeElements = function () {
                var barWidth = $(bar).outerWidth();

                var labelWidth = $(dropdownLabel).outerWidth();
                $(dropdown).width(labelWidth);

                var dropdownWidth = $(dropdown).outerWidth();
                var buttonWidth = $(button).outerWidth();
                var inputWidth = barWidth - dropdownWidth - buttonWidth;
                var inputWidthPercent = inputWidth / barWidth * 100 + "%";

                $(input).css({ 'margin-left': dropdownWidth, 'width': inputWidthPercent });
            }

            function dropdownOn() {
                $(dropdownList).fadeIn(25);
                $(dropdown).addClass("active");
            }

            function dropdownOff() {
                $(dropdownList).fadeOut(25);
                $(dropdown).removeClass("active");
            }


            // Initialize initial resize of initial elements 
            // --------------------------------------------------
            resizeElements();


            // Toggle new dropdown menu on click
            // --------------------------------------------------

            $(dropdown).click(function (event) {
                if ($(dropdown).hasClass("active")) {
                    dropdownOff();
                } else {
                    dropdownOn();
                }

                event.stopPropagation();
                return false;
            });

            $("html").click(dropdownOff);


            // Activate new dropdown option and show tray if applicable
            // --------------------------------------------------

            $(dropdownListItems).click(function () {
                $(this).siblings("li.selected").removeClass("selected");
                $(this).addClass("selected");

                // Focus the input
                $(this).parents("form.search_bar:first").find("input[type=text]").focus();

                var labelText = $(this).text();
                $(dropdownLabel).text(labelText);

                resizeElements();

            });


            // Resize all elements when the window resizes
            // --------------------------------------------------

            $(window).resize(function () {
                resizeElements();
            });

        });
    </script>

</body>