@model flix.Models.Movie


@{
    ViewBag.Title = "Review";
}

<body class="body-content" style="background-color:#2e313f;">

    <div class="body-content" style="padding-top: 20px;margin-left: 20px;margin-right: 20px;">

        <div class="panel panel-default" style="background-color:#8b3337;">
            <div class="panel-body">
                <h2 style="color:white;font-size:35px;text-align:center;" class="titles">Reviews</h2>
            </div>
        </div>



        <div class="row">

                <div class="col-md-9">

                    <div class="panel panel-default" style="background-color:white;">
                        <div class="panel-body">

                            <div class="container" style="margin-left:100px;">
                                <div class="row">

                                    <div style="height: 400px;" class="col-md-3">
                                        @foreach (var poster in Model.Posters)
                                        {
                                            <a><img style="width: 265px; height: 391px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" src="@Href("~/Content/" + @poster.PathImage)"/></a>
                                    
                                        }
                                    </div>
                                    <div style="height:400px; background-color:#8b3337;border-radius:15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                          class="col-md-5">
                                            <div class="body-content" style="margin-top:30px;">
                                                <h2 id="Title"></h2>
                                             
                                                <p class="moviedes">Titulo:@Model.Title</p>

                                                <p class="moviedes">Yo Soy Un Actor</p>
                                                @foreach (var actor in Model.MovieActors)
                                                {
                                                    <p class="moviedes">@actor.CharacterName</p>
                                                    <p class="moviedes">@actor.CharacterDescription</p>
                                                    <p class="moviedes">@actor.Protagonist</p>
                                                    <p class="moviedes">@actor.VoiceOnly</p>
                                                
                                                }
                                                <p class="moviedes">Soy Descripcion de Pelicula</p>
                                                    <p class="moviedes">@Model.Description</p>
                                                    <p class="moviedes">@Model.Year</p>
                                                    <p class="moviedes">@Model.Country.Name</p>
                                                <p class="moviedes">@Model.Country.Abbv</p>
                                                <p class="moviedes">@Model.Sinopsis</p>
                                                    <p class="moviedes">@Model.Length</p>
                                                
                                                
                                                <p class="moviedes">Son Generos de Pelicula</p>
                                                @foreach (var genre in Model.Genres)
                                                {
                                                    <p class="moviedes">@genre.Name</p>
                                                
                                                }
                                                
                                              
                                               
                                            </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                   


                    @*@foreach (var popular in Model.LMovies)
                    {

                        <div class="panel panel-default">
                            <div class="panel-heading">@popular.Title</div>
                            <div class="panel-body">
                                @popular.Description
                            </div>
                        </div>
                    }*@

                    <div class="panel panel-default">
                      <div class="panel-heading">Create Review</div>
                       <div class="panel-body" style="height:300px;">
                            @using (Html.BeginForm("Review", "Review", FormMethod.Post))
                            {

                           <div class="col-md-4">
                               <label>Comment:</label>
                                @*@Html.TextBoxFor(m => m.LMovies., new { @class="form-control" })*@
                               @*@Html.ValidationMessageFor(m => m.Comment)*@
                           </div>
                        <div class="col-md-2">
                            <div >
                                <label>Watched:</label>
                                <br />

                              @*<p>@Html.RadioButtonFor(model => model., true) Yes</p> 

                             <p>@Html.RadioButtonFor(model => model.Watched, false) No</p>*@  
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label>Wished:</label>
                                <br />

                                @*<p>@Html.RadioButtonFor(model => model.Wished, true) Yes</p>

                                <p>@Html.RadioButtonFor(model => model.Wished, false) No</p>*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <label>Rank (1-5):</label>
                                <br />

                                @*@Html.DropDownListFor(m => m, new List<SelectListItem>
                                   { new SelectListItem{Text="1", Value="1"},
                                     new SelectListItem{Text="2", Value="2"},
                                     new SelectListItem{Text="3", Value="3"},
                                     new SelectListItem{Text="4", Value="4"},
                                     new SelectListItem{Text="5", Value="5"},
                                     },
                                     "Rank")*@
                           
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label>Userid:</label>
                                <br />

                                @*@Html.TextBoxFor(m => m.User.Id, new { @class = "form-control" })*@
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <label>movie id:</label>
                                <br />
                                @*@Html.TextBoxFor(m => m.Movie.Id, new { @class = "form-control" })*@
                            </div>
                        </div>
                        <input type="submit" value="Submit" />

                            }
                        </div>
                    </div>

                    
                  

            
               
                




                </div>

                <div class="col-md-3" style="height:1000px; background-color:#8b3337;border-radius:15px;">
                    <div class="panel panel-default" style="margin-top:30px;text-align:center; font-size:17px;">
                        <div class="panel-body">Otras peliculas</div>
                    </div>
                </div>
          
        </div>
        </div>



       
</body>